<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos-cotizacion.css">
    <title>Cotizacion</title>
</head>
<body> 
<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<section>
    <div id="formulario">
        <form action="/cotizacion" method="post">
            <label for="">Valor de Automovil</label>
            <input type="number" name="valor" id="valor" required value=""><br>
            <label for="">Porcentaje de Pago Inicial</label>
            <input type="number" name="pinicial" id="pinicial" required value="" max="100" min="0"><br>
            <label for="">Plazos</label>
            <select name="plazos" id="plazos">
                <option value="12">12 Meses</option>
                <option value="24">24 Meses</option>
                <option value="36">36 Meses</option>
                <option value="48">48 Meses</option>
                <option value="60">60 Meses</option>
            </select>
            <button type="submit">Calcular</button>
            <button id="borrar" type="reset">Limpiar</button> 
        </form>

    </div>
    <% let valorFinal=0, cuotaMensual=0; %>
    <% valorFinal = valor - (pinicial / 100) * valor; %>
    <% cuotaMensual=valorFinal/plazos;%>
    <div id="cotizacion">
            <h2>Resultados de la Cotización</h2>
            <%if (!isNaN(valor) && !isNaN(pinicial) && !isNaN(plazos)) {%>
            <p>Valor Final: <span id="valorFinal"><%=  parseFloat(valorFinal).toFixed(2) %></span></p> 
            <p>Cuota Mensual: <span id="cuotaMensual"><%= parseFloat(cuotaMensual).toFixed(2) %></span></p>
            <%}%>
        </div>
</section>
<%-include('partials/footer.ejs')%>
</body>
<script>
    const reset = document.getElementById('borrar');

    reset.addEventListener('click', function() {  
        document.getElementById('valorFinal').innerText = '';
        document.getElementById('cuotaMensual').innerText = '';
        document.getElementById('valor').value = ''; 
        document.getElementById('pinicial').value = ''; 
    });
</script>
</html>
